header,
footer {
  text-align: center;
  font-family: sans-serif;
  margin: 25px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.letter-grid {
  display: flex;
  justify-content: space-around;
  width: 350px;
}
.letter {
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess-grid {
  margin: 25px;
}
