html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  text-align: center;
  width: 350px;
  /* margin: 25px; */
}
header {
  margin: 25px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 25px; */
}

.letter-grid {
  display: flex;
  justify-content: space-around;
}

.letter {
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.hidden {
  color: white;
}

.game-over {
  color: lightcoral;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
}

.key {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.found {
  font-weight: normal;
  background-color: lightgreen;
}
.not-found {
  text-decoration: line-through;
  font-weight: normal;
  background-color: lightcoral;
}

.guess-grid {
  margin: 25px;
}

.guesses {
  font-size: 24px;
  font-weight: bold;
}

button {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
}
